@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  overflow: hidden;
  background: #d7e8f5;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  position: relative;
}

.slide {
  height: 80vh;
  border-radius: 24px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.slide h3 {
  margin-top: 0 auto;
  opacity: 0;
  padding-left: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 25px;
}

.slide.active {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.slide.active h3 {
  opacity: 1;
  -webkit-transition: opacity 0.15s ease-in 0.2s;
  transition: opacity 0.15s ease-in 0.2s;
}

.slide:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.slide.active:hover {
  -webkit-transform: scale(100%);
          transform: scale(100%);
}

.arrows {
  position: absolute;
  cursor: pointer;
  z-index: 100;
  padding: 20px;
  margin: 20px;
  top: 40%;
  background: rgba(209, 231, 255, 0.1);
  min-height: 70px;
  opacity: 1;
}

.arrow-left {
  left: 0;
  background: center/contain no-repeat url("https://pixs.ru/images/2021/10/16/arrow-right-white.png");
}

.arrow-right {
  right: 0;
  background: center/contain no-repeat url("https://pixs.ru/images/2021/10/16/arrow-left-white.png");
}

@media (max-width: 992px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .container {
    width: auto;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 90vw;
  }
  .slide {
    height: auto;
    width: 80vw;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
/*# sourceMappingURL=style.css.map */